<div class="row justify-content-center mt-4">
  <div class="col-12 col-md-6">
    <% @restaurants.each do |restaurant| %>
      <article>
        <h3 class="d-flex justify-content-between">
          <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
          <span class="d-flex">
            <%= 'â­' * Review.where(restaurant_id: restaurant.id)
                             .average(:rating)
                             .to_f
            %>
            <%= link_to 'Review', new_restaurant_review_path(restaurant),
              class: 'btn btn-primary', style: 'margin-left: 16px' %>
          </span>
        </h3>
        <hr>
      </article>
    <% end %>
  </div>
</div>
